<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photon.connecttodoor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.photon.connecttodoor.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.ProfilActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.WelcomeScreenActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.VoucherActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.DailyAttendanceActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.AttendanceListActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.SignInActivity" >
        </activity>
        <activity android:name="com.photon.connecttodoor.activity.AttendanceFormActivity" >
        </activity>
         <activity android:name="com.photon.connecttodoor.activity.ReportActivity" >
        </activity>
    </application>

</manifest>